name: Detect Files Changed

on:
  workflow_call:
    outputs:
      go:
        value: ${{ jobs.detect.outputs.go }}

permissions:
  contents: read
  pull-requests: read

jobs:
  detect:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    outputs:
      go: ${{ steps.changes.outputs.go_any_changed }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          fetch-depth: 0
      - uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47
        id: changes
        with:
          files: |
            go:
              - "./**/*.go"
              - "./go.mod"
              - "./go.sum"
              - "./.golangci.yml"
