name: Go CI

on:
  workflow_dispatch:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

permissions:
  contents: read
  actions: read
  checks: write

jobs:
  files-changed:
    uses: ./.github/workflows/files-changed.yml
    permissions:
      contents: read
      pull-requests: read

  build:
    name: Build
    needs: files-changed
    if: needs.files-changed.outputs.go == 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: "./go.mod"
          cache-dependency-path: "./go.sum"
          check-latest: true
          cache: true

      - run: go mod download
      - run: go build ./...
      - run: go clean -modcache

  lint:
    name: Lint
    needs: files-changed
    if: needs.files-changed.outputs.go == 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: "./go.mod"
          cache-dependency-path: "./go.sum"
          check-latest: true
          cache: true

      - run: go mod download
      - uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9
      - run: go clean -modcache
