name: release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6.0.0
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v6.1.0
        with:
          go-version-file: "./go.mod"
          cache-dependency-path: "./go.sum"
          check-latest: true
          cache: true

      - uses: goreleaser/goreleaser-action@v6.4.0
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
